In [4]:
import pandas as pd

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.0-cp310-cp310-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.22.4 in c:\users\aiet-pc\anaconda3\envs\pyt310\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aiet-pc\anaconda3\envs\pyt310\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\aiet-pc\anaconda3\envs\pyt310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.0-cp310-cp310-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   ------- -------------------------------- 2.1/11.1 MB 10.7 MB/s eta 0:00:01
   ----------------- ---------------------- 4.7/11.1 MB 10.9 MB/s eta 0:00:01
   ------------------------- -------------- 7.1/11.1 MB 11.2 MB/s eta 0:00:01
   ---------------------------------- ----- 9.4/11.1 MB 11.1 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 11.0 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas

   ---------------------------------------- 0/3 [pytz]
   ------------- -------------------------- 1/3 [tzdata]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   ---------------------------------------- 3/3 [pandas]

Successfully installed pandas-2.3.0 pytz-2025.2 tzdata-2025.2

In [5]:
df = pd.read_csv('work_list.csv', encoding="utf-8-sig")

In [6]:
df

,jpg_path,작업시간,작업자,검수시간,검수자
0,data/test/images/0515_20210816_320/0515_202108...,2025-06-11 18:08:04,AutoSeg,NaN,NaN
1,data/test/images/0515_20210816_320/0515_202108...,2025-06-11 18:08:04,AutoSeg,NaN,NaN
2,data/test/images/0515_20210816_320/0515_202108...,2025-06-11 18:08:04,AutoSeg,NaN,NaN
3,data/test/images/0515_20210816_320/0515_202108...,2025-06-11 18:08:04,AutoSeg,NaN,NaN
4,data/test/images/0515_20210816_320/0515_202108...,2025-06-11 18:08:04,AutoSeg,NaN,NaN
...,...,...,...,...,...
283275,data/train/images/0516_20211201_163/0516_20211...,2025-06-04 12:26:49,윤명현,NaN,NaN
283276,data/train/images/0516_20211201_167/0516_20211...,2025-06-04 16:26:52,윤명현,NaN,NaN
283277,data/train/images/0516_20211201_187/0516_20211...,2025-06-02 17:22:18,윤명현,NaN,NaN
283278,data/train/images/0516_20211201_195/0516_20211...,2025-06-04 15:23:36,윤명현,NaN,NaN
283279,data/train/images/0516_20211201_613/0516_20211...,2025-06-04 11:30:23,윤명현,NaN,NaN

In [8]:
df=df[df['작업자']=='윤명현']

In [9]:
df

,jpg_path,작업시간,작업자,검수시간,검수자
281708,data/test/images/0515_20210816_136/0515_202108...,2025-06-02 11:26:57,윤명현,NaN,NaN
281709,data/test/images/0515_20210816_136/0515_202108...,2025-06-02 10:25:16,윤명현,NaN,NaN
281710,data/test/images/0515_20210816_136/0515_202108...,2025-06-02 14:59:30,윤명현,NaN,NaN
281711,data/test/images/0515_20210816_136/0515_202108...,2025-06-02 13:44:46,윤명현,NaN,NaN
281712,data/test/images/0515_20210816_136/0515_202108...,2025-06-02 10:04:52,윤명현,NaN,NaN
...,...,...,...,...,...
283275,data/train/images/0516_20211201_163/0516_20211...,2025-06-04 12:26:49,윤명현,NaN,NaN
283276,data/train/images/0516_20211201_167/0516_20211...,2025-06-04 16:26:52,윤명현,NaN,NaN
283277,data/train/images/0516_20211201_187/0516_20211...,2025-06-02 17:22:18,윤명현,NaN,NaN
283278,data/train/images/0516_20211201_195/0516_20211...,2025-06-04 15:23:36,윤명현,NaN,NaN
283279,data/train/images/0516_20211201_613/0516_20211...,2025-06-04 11:30:23,윤명현,NaN,NaN